body {
  background-color: #264653;
}

/* Multiple selectors seperated by comma */
h1,
h2 {
  color: #e9c46a;
}

/* Id selectors */
#signup {
  background-color: #e76f51;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1rem;
}

/* Class selectors */
.tag {
  background-color: aquamarine;
  color: darkslategrey;
}

/* Descendant selector */
.post a {
  color: #e76f51;
}

/* Attribute selector */
input[type='password'] {
  color: crimson;
}
a[href*='google'] {
  color: green;
}

/* Pseudo classes */
/* Keyword added to a selector that specifies a special state of the selected element */
.post button:hover {
  background-color: #e76f51;
}
footer a:hover {
  color: brown;
}
.post:nth-of-type(2n) {
  background-color: darkcyan;
}

/* Pseudo elements - Keyword added to a selector that lets you style a part of selected elements */
h2::first-letter {
  font-size: 3rem;
}
